<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css" >

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <img src="/img/logo-sherpa.svg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h3>{{ hotel.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                {{ hotel.address }}
            </div>
            <div class="col-md-6">
                {{ hotel.phoneNumber }}
            </div>
        </div>
        <div class="row main-section">
            <div class="col-md-7 col-md-offset-1">
                <img src="{{ hotel.mediaUrl }}" alt="" style="width: 100%">
            </div>
            <div class="col-md-3">
                <h5><img class="rating-icon" src="/img/ratings/icon-rating-good.svg" alt="">Very Good 8.4</h5>
                <img src="/img/graphic-free-wifi.svg" class="main-amenities" alt="">
                <img src="/img/graphic-free-wifi.svg" class="main-amenities" alt="">
                <img src="/img/graphic-free-wifi.svg" class="main-amenities" alt="">
                <h4>Your stay</h4>
                <div class="params-container">
                    Oct 17 - Nov 2
                </div>
                <div class="params-container">
                    1 room, 1 guest
                </div>
                <div class="call-to-action" >
                    <h2>$ {{ hotel.price.min }}</h2>
                    <a class="call-to-action-button" href="">Book Now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h4>Amenities</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-wifi.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        FreeWifiInMeetingRooms
                    </div>
                </div>
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-wifi.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        FreeWifiInRooms
                    </div>
                </div>
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-wifi.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        HighSpeedInternet
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-pool.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        Pool
                    </div>
                </div>
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-minibar.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        InRoomRefrigerator
                    </div>
                </div>
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-nonsmoking.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        NonSmokingRoom
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-md-offset-2">
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-coffee.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        InRoomCoffeeTea
                    </div>
                </div>
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-roomservice.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        RoomService
                    </div>
                </div>
                <div class="amenity">
                    <div class="amenity-icon">
                        <img src="/img/amenities/icon-amenity-inroomsafe.svg" alt="">
                    </div>
                    <div class="amenity-name">
                        InRoomSafe
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <h4>Location</h4>
                <img src="/img/map-mock.png" alt="" style="width: 100%">
            </div>
            {{!--<div class="col-md-5">
                <h4>h4</h4>
                Texto 16
            </div>--}}
        </div>
        {{!--<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h4>h4</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <h5>h5</h5>
                text 16
            </div>
            <div class="col-md-7">
                <h5>h5</h5>
                <span class="text-12">text 12</span><br>
                text 16
            </div>
        </div>--}}
        {{!--<div class="row">
            <div class="col-md-10 col-md-offset-1">
                BOTON LOAD MORE
            </div>
        </div>--}}
    </div>
</body>

</html>